body {
  background-color: #141f24;
  background-image: url(//cdn.classlink.com/production/framework/assets/images/lp-login/radialoverlay2-v2.png)
}

.heading h1 { 
  font-family: 'open sans';
  font-weight: 600;
  font-size: 32px;
  margin-bottom: 25px;
}

a:hover,a:focus{
color:#b4d0fe;
position:relative;
outline: unset;
}

a:focus::after,button:focus::after,.show-password:focus::after,
.username-container:focus-within::after,
.password-container:focus-within::after,
.code-container:focus-within::after {
  content: "";
  position: absolute;
  width: calc(100% + 16px);
  height: calc(100% + 14px);
  top: -7px;
  left: -8px;
  border-radius: 5px;
  /* z-index: -1; */
  border: 2px solid #0054ff;
  /* opacity: 0; */
  transition: all 0.1s ease-in-out;
  pointer-events: none;
  }

button.show-password:focus, button.show-password:active {
outline: unset;
box-shadow: unset;
-webkit-box-shadow: unset;
}


.cl-alert-red {
background-color: #E40101;
}

.cl-alert .cl-alert-tip {
background-image: none;
position: absolute;
width: 0;
height: 0;
border-left: 15px solid transparent;
border-right: 15px solid transparent;
border-top: 15px solid #E40101;
}

/* Setting up form fields with floating labels */

.form-control {
  box-shadow: 0px 0px 0px 2px #878787 !important;
  padding: 17px 16px 10px !important;
}

::placeholder {
opacity: 0%;
}

.floating-label {
position: absolute;
pointer-events: none;
left: 15px;
top: 16px;
transition: 0.2s ease all;
font-family: 'open sans';
font-size: 19px;
font-weight: 600;
color: #333333;
text-shadow: none;
}

input:focus ~ .floating-label,
input:not(:placeholder-shown) ~ .floating-label{
top: 6px;
bottom: 10px;
left: 15px;
font-size: 11px;
opacity: 1;
}

.form-group-chromebook .floating-label {
font-size: 14px;
top: 10px;
}

.form-group-chromebook input:focus ~ .floating-label, .form-group-chromebook input:not(:placeholder-shown) ~ .floating-label {
top: 3px;
font-size: 10px;
}

.login .form-control-chromebook {
padding: 15px 16px 5px !important;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
input:focus ~ .floating-label,
input:not(:-ms-input-placeholder) ~ .floating-label{
  top: 4px;
  bottom: 10px;
  left: 15px;
  font-size: 11px;
  opacity: 1;
}

.social-link {
  margin-left: 30%;
}
}

/* Basic form styling */

.row {
margin-bottom: 45px;
}

.social-link {
position: relative;
width: 100%;
height: auto;
text-align: center;
margin-top: 13px;
}

.social-link a {
  float: unset;
  box-shadow: rgb(135 135 135) 0px 0px 0px 2px;

  }

  .cl-footer-logo-container {
  display: flex;
  align-items: center;
  max-width: 190px;
  /* background-color: rgb(255 255 255 / 65%);
  border-radius: 10px;
  padding: 15px 20px; */
  }

#lp-cl-cloud-logo {
  width:58px;
  margin-right: 12px;
  color:#fff;
  filter: drop-shadow( 1px 1px 2px rgba(0, 0, 0, 0.3));
}

#lp-cl-cloud-logo circle.st1 {
  color: #0054FF;
}



div.form-group h3 {
  font-family: 'open sans';
  font-weight: 600;
}

button.btn.btn-primary.btn-block {
  position: relative;
}

button.btn.btn-primary.btn-block.google {
    /*font-family: 'open sans' !important;*/
    /*background-color: #2E8099 !important; */
    /*background-color: #4285f4 !important;*/
    /*border: 2px solid #ffffff66;*/
  font-family: 'open sans' !important;
  border-radius: 6px !important;
  background: #4285F4 !important;
}

button.btn.btn-primary.btn-block.google:hover {
background-color: #387ef0 !important;
}

.btn-primary.google>span {
position: relative;
top: -2px;
margin-left: -50px;
}

.login .btn-primary {
  font-family: 'open sans';
  height: 60px;
  font-size: 22px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 4px 0px !important;
  text-shadow: 0px 1px 3px #000000;
  background: #0054FF;
  margin: 20px 0px;
  border-radius: 6px;
  font-weight: 600;
}

.login .btn-primary:hover {
background: #1355d3;
}

.password-row-container {
  position:relative;
  }

.show-password {
  top: 50%;
  right: -4.4em;
}

.login .form-group {
  margin-bottom: 20px;
}

.bottom {
margin-bottom: 20px;
}

/* Login form flex centering */

.container.login {
min-height: 75vh;
display: flex;
align-items: center;
}

.container1 {
width: 440px;
}

/* Footer styling */

.lp-login-footer {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  display: flex;
  padding-right: 20px;
  padding-left: 20px;
  justify-content: space-between;
  align-items: center;
  min-height: 75px;
}

.lp-login-footer-link {
  color: #fff;
}

.lp-login-footer-link.footer-link {
  font-size: 14px;
  line-height: 20px;
}

.footer-applink-1 {
  display: block;
}

.footer-applink-2 {
  display: block;
}

.footer-applink-container {
  width: 130px;
  flex: 0 0 auto;
  margin-bottom: 10px;
  margin-left:0px;
}

.footer-applink-container a {
  display: block;
}

.footer-link-container {
  display: flex;
  flex: 0 auto;
  justify-content: center;
  flex-wrap: wrap;
  /* margin: 0px 20px;
  background-color: rgb(255 255 255 / 65%);
  padding: 15px 30px;
  border-radius: 10px; */
}

.cl-footer-text {
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
}

span.dot {
  width: 6px;
  height: 6px;
  margin: 0 20px;
  display: inline-block;
  background-color: #ffffff;
  background-color: rgba(249, 249, 249, 0.50);
  border-radius: 100%;
}

span.fa.fa-external-link.footer-link-icon {
  margin-top: 3px;
  margin-left: 2px;
}

.btn-primary.google>img {
  width: 63px;
  margin-left: -2px;
  margin-top: -8px;
  }

/* Responsive+small screen fixes */

@media screen and (max-width: 900px) {
  .footer-link-container {
    margin-left:0px;
  }
  }

@media screen and (max-width: 767px) {
  body {
    font-size: 12px;
  }
  .btn-primary.google>img {
    position: relative;
  }
  .lp-login-footer {
    height: 90px;
  }
  .cl-footer-logo-container {
    flex: 0 0 auto;
    flex-direction: column;
    margin-top:-5px;
    margin: auto;
  }
  #lp-cl-cloud-logo {
    margin: 0;
    margin-bottom: 5px;
  }
  .lp-login-footer-link {
    margin-right: 15px;
    font-size: 16px;
    text-decoration: none;
  }
  .lp-login-footer-link.footer-link {
    margin-right: 13px;
    font-size: 12px;
    text-decoration: underline;
  }
  .lp-login-footer-link.footer-link.last {
    margin-right: 0;
  }
  .footer-applink-container {
    width: 120px;
  }
  .footer-link-container {
    display: flex;
    padding-right: 20px;
    padding-left: 20px;
    justify-content: center;
    flex-wrap: wrap;
    flex: 1;
    text-align: center;
  }
  .cl-footer-logo {
    width: 50px;
  }
  .lp-login-footer-bullet {
    margin-right: 15px;
    font-size: 16px;
    text-decoration: none;
  }
  .lp-login-footer-bullet.footer-bullet {
    display: none;
  }
  .cl-footer-text {
    font-size: 16px;
    text-decoration: none;
  }
  .show-password {
    right: 20px;
  }
}

@media screen and (max-width: 479px) {
  .lp-login-footer {
    display: block;
    margin-bottom: 20px;
  }
  .cl-footer-logo-container {
    flex-direction: column;
    align-items: center;
  }
  .lp-login-footer-link.footer-link {
    /* margin-right: 12px; */
    font-size: 12px;
  }
  .footer-applink-container {
  display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
  }
  .footer-link-container {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .cl-footer-logo {
    margin-right: 0px;
    margin-bottom: 6px;
  }
  .cl-footer-text {
    margin-left: 0px;
  }
}



/*Styling for default page*/

body.non-custom {
  background-color: #E2F0FD;
  /*background-image: url(../assets/images/lp-login/topography-outline.png);*/
  /* background-image: url(../assets/images/lp-login/double-bubble-outline.png); */
  background-size: auto;
}

.non-custom .container.login:after {
  content: '';
  position: fixed;
  left: -22%;
  top: 42%;
  right: 0;
  width: 125%;
  height: 100%;
  background: linear-gradient(135deg, #CEE6FD 0%, #ECF6FD 100%);
  transform: rotate(10deg);
  z-index: -1;
}

.non-custom .heading h1 {
  color: #333333 !important;
  text-shadow: none;
}

.non-custom a {
  color: #1b1b1b;
  text-shadow: 0px 0px 3px white;
  font-weight: 600;
  }

.non-custom a:hover,.non-custom a:focus{
  position:relative;
  color:#0054ff !important;
}

.non-custom .sign-in-services {
  color: #333333;
  text-shadow: 0px 0px 3px white;
  font-weight: 600;
}

.non-custom .lp-login-footer-link {
  color: #333333;
}

.non-custom #lp-cl-cloud-logo circle.st1 {
  color: rgba(255, 255, 255, 0);
}

.non-custom .cl-footer-text {
  color: #0054ff;
  text-shadow: none;
}

.non-custom span.dot {
  background-color: #333333;
}

.non-custom .show-password:before {
    color: #0054FF;
}

.non-custom #lp-cl-cloud-logo {
  color: #0054FF;
}
